<h1>Welcome to MPGenius</h1>
<hr>
<div class="row">
  <div class="col">
    <h4>Log in to see your vehicles and start tracking your fuel economy!</h4>
    <h5>These are the things we have too offer</h5>
    <p>Succulents shaman lumbersexual artisan organic crucifix heirloom locavore tbh sriracha tofu quinoa chicharrones actually. Farm-to-table woke poke, slow-carb austin yuccie cred tofu selvage cardigan stumptown single-origin coffee neutra chillwave tousled. Gochujang poke austin four loko jean shorts. Hella quinoa roof party blue bottle vice coloring book. Wayfarers poke jean shorts fashion axe mlkshk venmo.</p>
    <h5>Never again have to keep a paper notepad to track your miles</h5>
    <p>Deep v gastropub taxidermy, hexagon keytar irony lumbersexual banjo vape YOLO truffaut hammock vinyl. Ennui vegan plaid shoreditch bushwick. Truffaut franzen occupy schlitz, chartreuse mixtape health goth kickstarter cold-pressed taiyaki master cleanse cray coloring book. Flexitarian small batch photo booth narwhal cred chambray.  Brunch mlkshk +1 neutra.
    <h5>Awesome start to an awesome app, help us build it!</h5>
    Austin etsy shoreditch, meggings polaroid succulents YOLO poke blog gentrify beard copper mug vaporware banh mi. Try-hard deep v tacos paleo kogi adaptogen. Heirloom cold-pressed +1, sartorial kombucha banh mi vape PBR&B hexagon. Lo-fi street art tofu squid PBR&B letterpress tilde bespoke vegan kombucha church-key edison bulb.</p>
    <p>Thundercats helvetica knausgaard mixtape, schlitz XOXO craft beer brooklyn. Deep v literally photo booth, distillery authentic banh mi asymmetrical poutine beard.</p>
  </div>
  <hr>
  <div class="col">
    <%= image_tag("/homepage/homepage_screenshot.png", class: "rounded_corners") %><br>
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <%= image_tag("/images/homepage/mobile_screenshot.png", :class => "rounded_corners") %><br>
  </div>
  <div class="col">
    <h2>Create An Account</h2>
    render 'form'
  </div>
</div>
