@import "bootstrap";

body {
  font-family: 'Roboto Condensed', serif;
  font-size: 30px;
  background: url("/images/IMG_2665.jpg") no-repeat 50% 50% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
